<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"> 
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkOut-On-Web</title>
</head>
<body>

  <div id="firebaseui-auth-container"></div>
    <div>
      <h1>Hola Folk</h1>
      <h4>Today's Workout</h4>
    </div>  

    <div class="d-md-flex flex-row m-5">
        <div class="d-flex justify-content-center flex-fill">
          <div class="card" style="max-width:250px;">
           <div class="card-body">
              <h4 class="card-title" id="hed1"></h4>
              <p class="card-text" id="1st"></p>
            </div>
            </div>
        </div>
        <div class= "d-flex flex-fill justify-content-center">
          <div class="card" style="max-width: 250px;">
            <div class="card-body">
              <h4 class="card-title" id="hed2"></h4>
              <p class="card-text" id="2nd"></p>
            </div>
          </div>
        </div>
        <div class="d-flex flex-fill justify-content-center">
          <div class="card" style="max-width: 250px;">
            <div class="card-body">
              <h4 class="card-title" id="hed3"></h4>
              <p class="card-text" id="3rd"></p>
            </div>
          </div>
        </div>
      </div>


      <div class="d-md-flex flex-row m-5">
        <div class="d-flex justify-content-center flex-fill">
          <div class="card" style="max-width: 250px;">
            <div class="card-body">
              <h4 class="card-title" id="hed4"></h4>
              <p class="card-text" id="4th"></p>
            </div>
          </div>

        </div>
        <div class= "d-flex flex-fill justify-content-center">
          <div class="card" style="max-width: 250px;">
            <div class="card-body">
              <h4 class="card-title" id="hed5"></h4>
              <p class="card-text" id="5th"></p>
            </div>
          </div>
        </div>
        <div class="d-flex flex-fill justify-content-center">
          <div class="card" style="max-width:250px;">
            <div class="card-body">
              <h4 class="card-title" id="hed6"></h4>
              <p class="card-text" id="6th"></p>
            </div>
          </div>
        </div>
      </div>

      <!-- <div id="btt">
         <button type="button" class="btn btn-primary mx-auto d-block" id="btn" onclick="startTime()">Start your Workout</button> 
      </div>
      <div id="btt1">
       <button type="button" class="btn1 btn-primary mx-auto d-block" id="btn1">Stop</button> 
      </div>
      <div id="timer">
      <label id="minutes">00</label>:<label id="seconds">00</label>
      </div> -->

      <div class="controls">
        <button class="btn btn-primary mx-auto" id="btn1" onclick="start()">start</button>
        <button class="btn btn-primary mx-auto" id="btn2" onclick="stop()">Stop</button>
        <button class="btn btn-primary mx-auto" id="btn3" onclick="pause()">pause</button>
        <button class="btn btn-primary mx-auto" id="btn4" onclick="resume()">resume</button>
      </div>
      <div class="stopwatch"> 
       00:00      
      </div>
      <div class="laps"></div>
      <div id="playlist">
           <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX76Wlfdnj7AP" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
        </iframe>
      </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type= "text/javascript" src="app.js"></script>
</body>
</html>
